<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Float Blog</title>
  </head>
  <body>
    <header>
      <img src="../img/images.png" alt="website logo" />
      <h1>Vana Fakhir Muhammad</h1>
    </header>

    <nav>
      <a href="../index.html">Home</a>
      <a href="../blog.html">Blog</a>
      <a href="../schedule.html">Schedule</a>
      <ul>
        <p>Layout Design</p>
        <li><a href="./float.html">Float Layout with Side nav</a></li>
        <li><a href="./flex.html">Flexbox Layout with Side nav</a></li>
        <li><a href="./grid.html">Blog Grid View</a></li>
      </ul>
      <a href="../signup.html">Signup</a>
      <a href="../signin.html">Signin</a>
    </nav>

    <main>
      <h2>Floated Sidebar + Blogs</h2>
      <article>
        <h2>Topic 1 Lorem ipsum dolor sit amet</h2>
        <small>By Vana on friday, 20/9/2022 4:00 PM</small>
        <img src="../img/image1.jpeg" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nam
          pariatur ad vitae possimus quibusdam quia quaerat reiciendis corporis
          atque! Consectetur et enim dicta qui corrupti! Temporibus impedit
          nulla amet. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Repudiandae sit hic ducimus reiciendis? Quasi non, ipsa quidem harum
          illum qui voluptates saepe laborum quo consequatur fugiat. Rem dicta
          beatae consequuntur!
        </p>
      </article>
      <article>
        <h2>Topic 2 Quo, excepturi incidunt</h2>
        <small>By Vana on thursday, 11/9/2022 11:00 AM</small>
        <img src="../img/image2.jpeg" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nam
          pariatur ad vitae possimus quibusdam quia quaerat reiciendis corporis
          atque! Consectetur et enim dicta qui corrupti! Temporibus impedit
          nulla amet. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Assumenda possimus ipsam aperiam nemo dolor, velit unde odit officia
          deleniti accusamus vero molestias laboriosam autem consequatur eos
          illo qui. Natus, error!
        </p>
      </article>
      <article>
        <h2>Topic 3 Doloremque incidunt accusantium explicabo autem dolorum</h2>
        <small>By Vana on Wednesday, 19/9/2022 12:00 PM</small>
        <img src="../img/image3.jpeg" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nam
          pariatur ad vitae possimus quibusdam quia quaerat reiciendis corporis
          atque! Consectetur et enim dicta qui corrupti! Temporibus impedit
          nulla amet. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Numquam quasi necessitatibus eaque perspiciatis! Quos, earum
          voluptatibus reiciendis, labore ipsum iusto libero ullam veritatis
          ratione deleniti explicabo incidunt consequatur eveniet similique.
        </p>
      </article>

      <div>
        <h2>Layout Design</h2>

        <a href="./float.html">Float Layout with Side nav</a><br />
        <a href="./flex.html">Flex Layout with Side nav</a><br />
        <a href="./grid.html">Grid Layout with Side nav</a>
      </div>
    </main>

    <footer>
      <div>
        <h2>Sitemap</h2>
        <ol>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Login</a></li>
        </ol>
      </div>
      <div>
        <h2>Terms and Quick Links</h2>
        <ol>
          <li><a href="#">Term of usage </a></li>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ol>
      </div>
      <div>
        <h2>Address and Contact</h2>
        <address>
          City, Government, Country 
          Phone:
          <a href="tel:0964 000 000 0000">0964 000 000 0000</a> 
          Email:
          <a href="mailto:example@domain.com">example@domain.com</a>
        </address>
      </div>
    </footer>
  </body>
</html>
